*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    transition: background-color 0.15s;
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

button[data-operation] {
    background-color: #FFA500; /* Orange for operators */
    color: white;
}

button[data-operation]:hover {
    background-color: #ffb732;
}

button[data-equals] {
    background-color: #007BFF; /* Blue for equals */
    color: white;
}

button[data-equals]:hover {
    background-color: #008cff;
}

.output {
    grid-column: 1 / -1; /* Span all 4 columns */
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.current-operand {
    color: white;
    font-size: 2.5rem;
}